@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
  font-family: 'Bebas Neue', cursive;
  font-family: 'Roboto', sans-serif;

}

body {
  background-color: #f9faff;
  color: #000000;
}

// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // 

.body-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3em 0;

  //below code moves filter box to the left of the screen on fullscreen

  // @media only screen and (min-width: 1200px) {
  //   flex-direction: row;
  //   justify-content: space-around;
  // }
}

.loader-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgba(0, 0, 0, 0.834);
  z-index: 1;
}

.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #3d5af1 transparent #3d5af1 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // 


// .devDisplay {
//   width: 70vw;
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
// }

// .allDevsContainer {
//   width: 64em;
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
//   max-width: 826px;
// }

// .devBox {
//   width: 250px;
//   padding: 20px;
//   background-color: #0068f5;
//   margin: 20px;
//   border-radius: 8px;
//   border: 1px solid #013f95;
//   box-shadow: 4px 4px 8px #959595;
// }

// .starhourly {
//   width: 100%;
//   display: flex;
//   justify-content: space-between;
// }

// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // 

.filterBox {
  width: 22em;
  display: flex;
  justify-content: space-around;
  padding: 1em;
  background-color: #618bc7;

  .sliderBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: skyblue;
    
    .SliderRoot {
      position: relative;
      display: flex;
      align-items: center;
      user-select: none;
      touch-action: none;
      width: 150px;
      height: 20px;
    }
    
    .SliderTrack {
      background-color: #626262;
      position: relative;
      flex-grow: 1;
      border-radius: 9999px;
      height: 3px;
    }
    
    .SliderRange {
      position: absolute;
      background-color: white;
      border-radius: 9999px;
      height: 100%;
    }
    
    .SliderThumb {
      display: block;
      width: 15px;
      height: 15px;
      background-color: white;
      box-shadow: 0 2px 6px #000000;
      border-radius: 10px;
    }
    // .SliderThumb:hover {
    //   outline: #000000;
    // }
    .SliderThumb:focus {
      outline: none;
      box-shadow: 0 0 0 3px #20406e;
    }
  }

  .highLow {
    width: 6em;
    display: flex;
    justify-content: space-around;
    align-items: center;

    button {
      background-color: white;
      height: 2.5em;
      width: 3em;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid black;
      border-radius: 4px;
      cursor: pointer;
    }
  }


}